 
/* nav bar container */
nav ul li
{
    display:inline-block;
    font-size:30px;
    margin-right:20px;
    color:white;
    
}
nav ul li a
{
    text-decoration:none;
    color: white;
}
nav ul
{
    margin-top:35px;
}

nav
{
    display: flex;
    justify-content:space-between;
    background-color: #105869;
}

nav p 
{
    margin-top:30px;
    font-size: 35px;
    font-weight:bold;
    color:white;
    margin-left:20px;
}

/* image container */
.img_container
{
    padding: 60px 100px;
    display: flex;
    align-items: center;
    background-color: rgb(104 153 163 / 9%);
}
.img_container img
{
    width:29%;
    height:60%;
 
    box-shadow: 4px 4px 20px 10px rgb(11 22 34 / 53%);
 
   
   
}

.img_container .name_container
{
    display: flex;
    flex-direction: column;
    margin-left:30%;

}
.img_container .name_container p:nth-child(odd)
{
    font-size:50px;
    font-weight:bold;
    color: #1f3435;
}
.img_container .name_container p:nth-child(even)
{
    font-size: 20px;
    line-height:31px;
    font-weight:bold;
    margin-top: -27px;
    margin-left: 11px;
    color: #263b44;
}


/* edu container */

.edu_personal table
{
    border:"1";b

}




