<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 
    <title>contact_page</title>
    <link rel="stylesheet" href="../css/contact.css">
</head>
<body>
           <!--nav bar menu items-->
   <nav>
    <p>KTechweb</p>
 <ul>
     <li><a href="../index.html">Home</a></li>
     <li><a href="./skills.html">Skills</a></li>
     <li><a href="./gallery.html">Gallery</a></li>
     <li><a href="./contact.html">Contact</a></li>
     <li><a href="https://ktechweb.netlify.app/">Blog</a></li>
     
 </ul>
</nav>


<!--conatact container-->
<div class="con_container">
    <div class="con_conatainer_1">
        <div class="con_thro">
             <marquee behavior="" direction="left">
                 <p>contact through conatact number or mail id or linkedin or twitter</p>
             </marquee>
        </div>
        <p>ph no : 9360375911</p>
        <p>Mail-id : karthik5112001@gmail.com</p>
        <p>linkedIn : https://www.linkedin.com/in/karthik-b-736308209</p>
        <p>Twitter : https://twitter.com/Karthik10195337</p>
    </div>
</div>
</body> 
</html>