<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>skills_page</title>
    <link rel="stylesheet" href="../css/skills.css">
</head>
<body>
       <!--nav bar menu items-->
   <nav>
    <p>KTechweb</p>
 <ul>
     <li><a href="../index.html">Home</a></li>
     <li><a href="./skills.html">Skills</a></li>
     <li><a href="./gallery.html">Gallery</a></li>
     <li><a href="./contact.html">Contact</a></li>
     <li><a href="https://ktechweb.netlify.app/">Blog</a></li>
     
 </ul>
</nav>

<!--skill container-->
<div class="skill_conatainer">
    <div class="skill_cotainer_1">
        <p>HTML5</p>
        <p>CSS3</p>
        <p>JAVASCRIpT</p>
        <p>REACT JS</p>
        <p>NODE JS</p>
        <p>EXPRESS JS</p>
        <p>SQL</p>
        <p>NO SQL</p>
        <p>GIT VERSION CONTROL</p>
    </div>
</div>




</body>
</html>